.mainBody {
  margin: 0;
  background: lightgray;
  position: relative;
  min-height: 100vh;
  transform: translateY(auto);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .rudolph_name {
    animation-name: rudolphs_animation;
    animation-duration: 4s;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
